Repository secretstache/wp-reactjs-starter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, reinstall, docker e2e purge

install:
  before_script:
  - yarn install --frozen-lockfile
  - composer install
  - yarn grunt copy-npmLibs
  - yarn grunt cachebuster:public
  script: echo .
  stage: validate

reinstall:
  before_script:
  - yarn install --frozen-lockfile
  - composer install
  - yarn grunt copy-npmLibs
  - yarn grunt cachebuster:public
  script: echo .
  variables:
    GIT_CLEAN_FLAGS: -ffdx
  stage: validate

docker e2e purge:
  stage: validate
  variables:
    COMPOSE_PROJECT_NAME_SUB: -ci
  script:
  - chmod +x ./docker/scripts/purge-ci.sh
  - ./docker/scripts/purge-ci.sh

feat: added hooks example
  README.md
  inc/general/Assets.class.php
  package.json
  public/languages/wp-reactjs-starter.pot
  public/src/component-library/Todo.tsx
  yarn.lock
Due: install, reinstall

fix: docker remove network purge
  docker/scripts/purge-ci.sh
Due: install, docker e2e purge

feat: added ts-check to webpack, typed pluginOptions
  .vscode/settings.json
  inc/general/Assets.class.php
  package.json
  public/languages/wp-reactjs-starter.pot
  public/src/component-library/index.tsx
  public/src/util/index.tsx
  webpack.config.js
  yarn.lock
Due: install, reinstall

ci(traefik): do not use https in traefik
  .gitlab-ci.yml
  README.md
  build/traefik.txt
Due: install, docker e2e purge

fix(traefik): do not use https because traefik does not support wildcard SSL domains with Let's Encrypt
  build/traefik.txt
Due: install

fix: correctly encode parameters sent to the API
  public/src/util/ajax.tsx
Due: install

fix: set version to 1.0.0 for semantic-release
  index.php
  package.json
  yarn.lock
Due: install, reinstall

feat: added semantic-release
  release.config.js
Due: install

feat: prepared semantic-release for gitlab
  .gitlab-ci.yml
  CHANGELOG
  CHANGELOG.md
  README.md
  README.wporg.txt
  build/grunt.js
  package.json
  release.config.js
  yarn.lock
Due: install, reinstall, docker e2e purge

ci: fixed bug with git clean flags
  .gitlab-ci.yml
Due: install, docker e2e purge

fix: correctly push via semantic-release in deploy stage
  .gitlab-ci.yml
  README.md
  package.json
  release.config.js
  yarn.lock
Due: install, reinstall, docker e2e purge

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: install

feat: added docs as zip file in release
  .gitlab-ci.yml
  release.config.js
Due: install, docker e2e purge

chore: start from changelog 1.0.0
  CHANGELOG.md
  package.json
Due: install

perf: do not git clean in release job
  .gitlab-ci.yml
Due: install, docker e2e purge

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  index.php
  package.json
Due: install

fix: add technical docs to the release assets
  CHANGELOG.md
  index.php
  package.json
  release.config.js
Due: install

feat: resolve several code review discussions (internal, #22ee8j)
  .babelrc
  .gitignore
  .gitlab-ci.yml
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  Gruntfile.js
  LICENSE
  README.md
  README.wporg.txt
  build/gitlab-runner-config.txt
  build/grunt.js
  commitlint.config.js
  cypress/fixtures/example.json
  cypress/integration/page_spec.js
  docker/scripts/build-ci-e2e-image.sh
  docker/scripts/build-ci-image.sh
  docker/scripts/container-wordpress-cli-entrypoint.sh
  docker/scripts/container-wordpress-command.sh
  docker/scripts/purge-ci.sh
  docker/scripts/push-ci-e2e-image.sh
  docker/scripts/push-ci-image.sh
  index.php
  package.json
  postcss.config.js
  public/languages/wp-reactjs-starter.pot
  public/src/admin.tsx
  public/src/util/ajax.tsx
  renovate.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: install, reinstall, docker e2e purge

feat: allow to pass an array of to enqueueLibraryScript/enqueueLibraryStyle (#2c9jv3)
  Gruntfile.js
  inc/base/Assets.class.php
  inc/general/Assets.class.php
Due: install

fix: remove deprecated VSCode tslint plugin
  .vscode/extensions.json
Due: install

feat: more readable Gruntfile + allow lib sourcemap removal (#24g3mn)
  Gruntfile.js
  build/grunt.js
  package.json
  yarn.lock
Due: install, reinstall

refactor: remove unused variables
  inc/general/Assets.class.php
Due: install

Integrate VueJS and remove React from plugin starter
  package.json
  public/src/admin.tsx
  public/src/component-library/Todo.tsx
  public/src/component-library/index.tsx
  public/src/component-library/style.scss
  public/src/store/index.tsx
  public/src/widget.tsx
  public/src/widget/index.tsx
  public/src/widget/style.scss
  renovate.json
  webpack.config.js
  yarn.lock
Due: install, reinstall

Documentation Update
  README.md
Due: install

Path conditions:
  install: not (any of: yarn.lockg, composer.lock)
  reinstall: any of: yarn.lock, composer.lock
  docker e2e purge: any of: docker/**/*, .gitlab-ci.yml
